

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

form label {
    flex: 1 1 100%;
    margin-bottom: 5px;
    color: #555;
}

form input,
form select {
    flex: 1 1 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    flex: 1 1 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover, .dropdown-content a:hover {
    background-color: #63e6be;
    color: #35424a;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #35424a;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a, .dropdown-content p {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #35424a;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #203949;
    color: #ffffff;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  th {
    text-align: center;
  }
  
  th:last-child, td:last-child {
    width: 15%;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
